:root{
    --color-white: hsl( 0, 0%, 100%);
    --color-solitude: hsl( 222, 29.41%, 97%);
    --color-yellow: hsl(49, 100%, 50%);
    --coor-blue: hsl(225.1, 56.3%, 42.2%);
    --color-meteorite-dark: hsl(254.6, 58.2%, 26.3%);
    --color-azure-dark: hsl(217.7, 64.8%, 42.4%);
    --color-black: hsl(0, 0%, 10%)
}

*{
    padding: 0%;
    margin: 0%;
    font-family: var(--font-primary);
}

body{
    background-color: var(--color-white);
    color: var(--color-black);
}

#header{
    /* display: fixed; */
    background-color: var(--color-solitude);
    width: 100%;
    height: 115px;
    /* padding: 10px 10px 10px 10px; */
    /* border: 1px solid red; */
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 530px;
    flex-wrap: nowrap;
}
.logo img{
    margin: 15px;
    height: 80px;
    width: auto;
}

.navbar-text{
    font-size: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-style: normal;
}

.navbar-text li,a{
    text-decoration: none;
    list-style-type: none;
    color: var(--color-black);
}

#social-media-icon{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
}

.social-media-icon{
    display: flex;
    justify-content: right;
    height: 30px;
    width: 30px;
}

#header-img{
    background-image: url(/assets/img/indiefluence-bg.png);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center; 
}
.header-img-text {
    display: inline-block;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    top: 125px;
    left: 335px;
}

.header-img-text h1{
    height: auto;
    width: 550px;
    font-size: 100px;
    color: var(--color-yellow);
}

.header-img-text h1 strong{
    font-style: italic;
}

.header-img-text p{
    height: auto;
    width: 450px;
    font-size: 30px;
    color: var(--color-white);
}

.header-img-text p strong{
    color: var(--color-yellow);
}

.header-img-text-button{
    background-color: var(--color-yellow);
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid var(--color-meteorite-dark);
}

.header-img-text-button :hover{
    color: var(--color-white);
}

#about-us{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 580px;
    background-color: var(--color-black);
}

.about-us-text {
    display: inline-block;
    align-items: center;
}

.about-us-text h1{
    color: var(--color-white);
    font-size: 55px;
    position: relative;
    top: 105px;
    left: 335px;
}

.about-us-text h1 strong{
    color: var(--color-yellow);
}

.about-us-text p{
    height: auto;
    width: 400px;
    font-size: 22px;
    color: var(--color-white);
    position: relative;
    top: 105px;
    left: 335px;
}

.about-us-text p strong{
    color: var(--color-yellow);
    font-weight: normal;
}

.about-us-img{
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
    height: 420px;
    width: 100%;
}
